{% macro description(el) %}
  {% if el.description %}
    {% for paragraph in el.description.split("\n\n") %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro summary(el) %}
  {% if el.summary %}
    — {{ el.summary }}
  {% endif %}
{% endmacro %}

{% macro heading(el, iface=None) %}
  {% set fullname = iface.name + "." + el.name if iface else el.name %}
  {{ el.kind.capitalize() }}
  <code>{{ iface.name + "." if iface }}<a href="#{{ fullname }}" class="{{ el.kind }}">{{ el.name }}</a></code>
  {{ summary(el) }}
{% endmacro %}

{% macro arg_type(arg) %}
  {%- if (arg.type == "object" or arg.type == "new_id") and arg.interface -%}
    <code><span class="primitive">{{ arg.type }}</span>&lt;<a href="#{{ arg.interface }}" class="interface">{{ arg.interface }}</a>&gt;</code>
  {%- else -%}
    <code class="primitive">{{ arg.type }}</code>
  {%- endif -%}
{% endmacro %}

{% macro message(msg, iface) %}
  <h3 id="{{ iface.name + "." + msg.name }}">{{ heading(msg, iface) }}</h3>

  {{ description(msg) }}

  <ul>
    {% for arg in msg.args %}
      <li>
        <strong id="{{ iface.name + "." + msg.name + "." + arg.name }}">
          <code>{{ arg.name }}</code>
        </strong> {{ arg_type(arg) }}:
        {{ arg.summary }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Protocol {{ protocol.name }}</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Protocol <code>{{ protocol.name }}</code>{{ summary(protocol) }}</h1>

      {{ description(protocol) }}

      {% if protocol.copyright %}
        <details>
          <summary role="button">License</summary>
          <pre>{{ protocol.copyright }}</pre>
        </details>
      {% endif %}
    </header>

    <main>
      <nav>
        <div>
          <h2>Index</h2>

          <ul>
            {% for iface in protocol.interfaces %}
              <li>
                <a href="#{{ iface.name }}" class="interface">{{ iface.name }}</a>
              </li>
              <ul>
                {% for el in (iface.requests + iface.events + iface.enums) %}
                  <li>
                    <a href="#{{ iface.name + "." + el.name }}" class="{{ el.kind }}">{{ el.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
      </nav>

      <div class="interfaces">
        {% for iface in protocol.interfaces %}
          <section>
            <h2 id="{{ iface.name }}">{{ heading(iface) }}</h2>

            {{ description(iface) }}

            {% for req in iface.requests %}
              {{ message(req, iface) }}
            {% endfor %}

            {% for evt in iface.events %}
              {{ message(evt, iface) }}
            {% endfor %}

            {% for enum in iface.enums %}
              <h3 id="{{ iface.name + "." + enum.name }}">{{ heading(enum, iface) }}</h3>

              {{ description(enum) }}

              <ul>
                {% for entry in enum.entries %}
                  <li>
                    <strong id="{{ iface.name + "." + enum.name + "." + entry.name }}">
                      <code>{{ entry.name }}</code>{{ "" -}}
                    </strong>:
                    {{ entry.summary }}
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        {% endfor %}
    </div>
    </main>
  </body>
</html>
